*{
    margin: 0;
    padding: 0;
}
header{
    background: #5CBBFF;
}
header nav{
    width: 50%;
    margin: auto;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
header nav ul li{
}
header nav ul li img{
    width: 150px;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
}
.content{
    display: flex;
    min-height: 90vh;
}
.featured_image{
    width: 40%;
    background: #5CBBFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    width: 80%;
}
.img img{
    width: 100%;
}
.form{
    width: 60%;
    background: #0096FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form h1{
    color: #fff;
    text-transform: capitalize;
    font-size: 30px;
}
.form p {
    color: #fff;
    margin: 10px 0;
}
.form h3{
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 30px;
}
.form form{}
.form form input{
    width: 100%;
    background: transparent;
    border: none;
    background: #fff;
    border: 1px solid #fff;
    padding: 10px;
    margin-bottom: 10px;
}
.form form input[type="submit"]{
    
width: auto;
    
text-transform: capitalize;
    
font-weight: 500;
    
color: #0096ff;
    
font-size: 15px;
    
cursor: pointer;
}
.form ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.form ul li{
    color: #dcdcdc;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}
.form ul li a{
    text-decoration: none;
    color: #fff;
}

.form_content{
    width: 50%;
}